/* 
    Created on : 25.05.2016, 14:04:27
    Author     : AlexR
*/
.sidebar .sidebar-user{
    margin: 10px 20px;
}
.sidebar-user .card-user{
    margin-bottom: 0;
}
.sidebar-user .author{
    margin-top: 0;
}
.sidebar-user .content{
    min-height: auto;
}

/* Profile */
.card-user .upload-icon{
    visibility: hidden;
    cursor: pointer;
}
.card-user .avatar:hover .upload-icon{
    visibility: visible;
}

/* Office map styles */
#office-map-workers .user{
    border-bottom: 1px solid;
    padding: 5px 0;
}
#office-map-workers .name{
    line-height: 50px;
}
#office-map-workers li{
    border-radius: 5px;
    padding: 10px;
}
#office-map-workers li:hover{
    background: #f2f2f2;
    cursor: pointer;
}
#office-map-workers li.selected{
    background: #ccffb3;
}
#office-map-workers label{
    padding: 0;
    margin: 0;
    display: block;
}
#svg{
    overflow: visible;
}